### ----------------
### Setting augments
### ----------------

# 1. workding directory
wd=/home/yhw/bioinfo/project-mine/LiuYan.DS/analysis/DS_mouse_CR
# 2. directory of raw fastq files
rawdata=/home/yhw/bioinfo/project-mine/LiuYan.DS/data/DS_mouse_CR/LBFC20241625-01-02
# 3. txt file that records sample names
samples=/home/yhw/bioinfo/project-mine/LiuYan.DS/analysis/DS_mouse_CR/sample_name.txt
# 4. data type: RNA, ATAC or Multiome
dt=RNA
# 5. gene gtf file: well-processed GTF file
# - human: /home/laborer/refgenome/embl/rs110/homo_sapiens/index/cellranger/GRCh38-release110_build/Homo_sapiens.GRCh38.110.chr.gtf.filtered
# - mouse: /home/laborer/refgenome/embl/rs110/mus_musculus/index/cellranger/GRCm39-release110_build/Mus_musculus.GRCm39.110.chr.gtf.filtered
gtf=/home/laborer/refgenome/embl/rs110/mus_musculus/index/cellranger/GRCm39-release110_build/Mus_musculus.GRCm39.110.chr.gtf.filtered
# 6. genomic sequence fa file
# - human: /home/laborer/refgenome/embl/rs110/homo_sapiens/index/cellranger/GRCh38-release110_build/Homo_sapiens.GRCh38.dna_sm.primary_assembly_no.contig.fa.modified
# - mouse: /home/laborer/refgenome/embl/rs110/mus_musculus/index/cellranger/GRCm39-release110_build/Mus_musculus.GRCm39.dna_sm.primary_assembly_no.contig.fa.modified
fa=/home/laborer/refgenome/embl/rs110/mus_musculus/index/cellranger/GRCm39-release110_build/Mus_musculus.GRCm39.dna_sm.primary_assembly_no.contig.fa.modified
# 7. cell ranger index (directory)
# - human: /home/laborer/refgenome/embl/rs110/homo_sapiens/index/cellranger
# - mouse: /home/laborer/refgenome/embl/rs110/mus_musculus/index/cellranger
# - human&mouse: /home/laborer/refgenome/cellranger/hs_mm/GRCh38_and_GRCm39-2023-A-exo_build/reference
cr_indx=/home/laborer/refgenome/embl/rs110/mus_musculus/index/cellranger
# 8. motif file
motif=...
# 9. species
species=...
# 10. genome name (directory name)
# - human: GRCh38
# - mouse: GRCm39
# - human&mouse: GRCh38_and_GRCm39
gname=GRCm39
# 11. genome version
gversion=...
# 12. library csv file for multiome
library=...
# 13. velocyto shell script
run_velocyto=/home/yhw/document/scripts/shell/customPlugin/pyVelocyto.sh
# 14. repeat bed
# - human: 
# - mouse: 
repeat=...
# 15. bam string to filter samples and then run scTE
bam_str="."

### ---------
### Functions
### ---------

# Create soft links for raw fastq files
DataLink()
{
    indir=$1
    sample=$2
    outdir=$3
    [ ! -d ${outdir} ] && mkdir -p ${outdir}
    ls $indir | grep -f $sample - | while read file
    do
        cp ${indir}/${file} ${outdir}/
    done
}
# Create reference
RefCRrna()
{
    seq=$1
    gtf=$2
    gn=$3
    gv=$4
    refdir=$5
    logdir=$6
    # format:
    # - seq: genomic sequence fa file in GENCODE format;
    # - gtf: gene annotation gtf file in GENCODE format but the gene/transcript/exon_id is splited into two column;
    # - gn: genome name, such Homo_sapiens;
    # - gv: genome version, such as GRCh38;
    # - refdir: directory to save reference file for CellRanger;
    [ ! -d "${refdir}" ] && mkdir -p ${refdir}
    [ ! -d "${logdir}" ] && mkdir -p ${logdir}
    cd $refdir
    cellranger mkref --genome="${gn}" --fasta="${seq}" --genes="${gtf}" \
                     --ref-version="${gv}" > ${logdir}/CellRanger_RNA_mkref_${gn}_${gv}.log 2>&1
    cd $wd
}
RefCRatac()
{
    seq=$1
    gtf=$2
    motif=$3
    spe=$4
    gn=$5
    gv=$6
    refdir=$7
    logdir=$8
    [ ! -d "${refdir}" ] && mkdir -p ${refdir}
    [ ! -d "${logdir}" ] && mkdir -p ${logdir}
    # format:
    # - seq: genomic sequence fa file in GENCODE format;
    # - gtf: gene annotation gtf file in GENCODE format but the gene/transcript/exon_id is splited into two column;
    # - motif: TFs motif file from JASPAR;
    # - spe: organism, such as Homo_sapiens;
    # - gn: genome name, such Homo_sapiens;
    # - gv: genome version, such as GRCh38;
    # - refdir: directory to save reference file for CellRanger;
    config="${refdir}/config"
    echo """{
        organism: \"${spe}\"
        genome: [\""${gn}"\"]
        input_fasta: [\""${seq}"\"]
        input_gtf: [\""${gtf}"\"]
        input_motifs: \""${motif}"\"
        non_nuclear_contigs: [\"chrM\"]
    }""" > "$config"
    cd $refdir
    cellranger-atac mkref --ref-version="${gv}" --config="${config}" > ${logdir}/CellRanger_ATAC_mkref_${spe}_${gn}.log 2>&1
    cd $wd
}
RefCRarc()
{
    seq=$1
    gtf=$2
    motif=$3
    spe=$4
    gn=$5
    gv=$6
    refdir=$7
    logdir=$8
    [ ! -d "${refdir}" ] && mkdir -p ${refdir}
    [ ! -d "${logdir}" ] && mkdir -p ${logdir}
    # format:
    # - seq: genomic sequence fa file in GENCODE format;
    # - gtf: gene annotation gtf file in GENCODE format but the gene/transcript/exon_id is splited into two column;
    # - motif: TFs motif file from JASPAR;
    # - spe: organism, such as Homo_sapiens;
    # - gn: genome name, such as GRCh38;
    # - gv: genome version, such as GRCh38;
    # - refdir: directory to save reference file for CellRanger;
    config="${refdir}/config"
    echo """{
        organism: \"${spe}\"
        genome: [\""${gn}"\"]
        input_fasta: [\""${seq}"\"]
        input_gtf: [\""${gtf}"\"]
        input_motifs: \""${motif}"\"
        non_nuclear_contigs: [\"chrM\"]
    }""" > "$config"
    cd $refdir
    cellranger-arc mkref --ref-version="${gv}" --config="${config}" > ${logdir}/CellRanger_ARC_mkref_${spe}_${gn}.log 2>&1
    cd $wd
}
# Calculate chromosome size
CalCS()
{
    fa=$1
    name=$2
    outdir=$3
    [ ! -e ${fa}.fai ] && samtools faidx ${fa}
    cut -f 1-2 ${fa}.fai > ${outdir}/${name}.chrom.sizes 
}
# CellRanger count module
CRrna()
{
    indir=$1
    file=$2
    outdir=$3
    logdir=$4
    ref=$5
    # - indir: directory includes the raw fastq.gz files
    # - file: txt file recorded the key word in raw fastq.gz files
    # - outdir & logdir: directory to save running results and logs
    # - ref: built reference directory
    [ ! -d "${outdir}" ] && mkdir -p ${outdir}
    [ ! -d "${logdir}" ] && mkdir -p ${logdir}
    while read key
    do
        cellranger count --id ${key} --transcriptome ${ref} \
                         --fastqs ${indir} --sample ${key} \
                         --include-introns true --create-bam true \
                         --localcores 20 --localmem 40 > ${logdir}/${key}.log 2>&1
    done < $file
}
CRatac()
{
    indir=$1
    file=$2
    outdir=$3
    logdir=$4
    ref=$5
    # - indir: directory includes the raw fastq.gz files
    # - file: txt file recorded the key word in raw fastq.gz files
    # - outdir & logdir: directory to save running results and logs
    # - ref: built reference directory
    [ ! -d "${outdir}" ] && mkdir -p ${outdir}
    [ ! -d "${logdir}" ] && mkdir -p ${logdir}
    while read key
    do
        cellranger-atac count --id=${key} --reference=${ref} \
                              --fastqs=${indir} --sample=${key} \
                              --localcores=16 --localmem=32 > ${logdir}/${key}.log 2>&1
    done < $file
}
CRarc()
{
    file=$1
    outdir=$2
    logdir=$3
    ref=$4
    lib=$5
    # - indir: directory includes the raw fastq.gz files
    # - file: txt file recorded the key word in raw fastq.gz files
    # - outdir & logdir: directory to save running results and logs
    # - ref: built reference directory
    # - lib: library csv file
    [ ! -d "${outdir}" ] && mkdir -p ${outdir}
    [ ! -d "${logdir}" ] && mkdir -p ${logdir}
    while read key
    do
        cellranger-arc count --id=${key} --reference=${ref} --libraries=${lib} \
                             --min-atac-count 2500 --min-gex-count 750 --nopreflight \
                             --localcores=16 --localmem=32 > ${logdir}/${key}.log 2>&1
    done < $file
}
